<meta name="description" content="{{ description }}">

<meta property="og:image" content="{{ ogImage }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ currentUrl }}" />

<title>{{ title }}</title>

<script>
    Window.title = "{{ title }}";
    Window.description = "{{ description }}";
    Window.hashtags = "{{ hashtags }}";
    Window.via = "{{ via }}";
</script>